<div id="LoginUser">

{{status}}

<p> Please sign in </p>

    <input type="text" placeholder ="Username" ng-model="user.username"> <br>
    <input type="password" placeholder="Password" ng-model="user.password"> <br>
    <button class="btn btn-danger" ng-click="reset()">Reset</button><br>
    <button class="btn btn-success"ng-click="login()">Login</button>
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
</div>